body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 250px;
    overflow: hidden;
    background-color: #03fcfc
}

.btn {
    border-radius: 10px;
    margin: 30px;
}